@using Chat.Core

@{
    var rightSideClass = Message?.Sender?.Name == CurrentUser?.Name ? "chat-message-right" : "chat-message-left";
    var marginClass = Message?.Sender?.Name == CurrentUser?.Name ? "me-3" : "ms-3";
}

<div class="@rightSideClass pb-4">
    <div>
        <div class="avatar" alt="Avatar user">
            <span class="fw-bold fs-4 text-white">@Message?.Sender?.Name?.ToUpper()?.First()</span>
        </div>
        <div class="text-muted small text-nowrap mt-2">@Message?.Timestamp.ToShortTimeString()</div>
    </div>
    <div class="flex-shrink-1 bg-light rounded py-2 px-3 @marginClass">
        <div class="fw-bold mb-1">@Message?.Sender?.Name</div>
        @Message?.Text
    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public Message? Message { get; set; }

    [Parameter, EditorRequired]
    public User? CurrentUser { get; set; }
}
